@model Coticula.Web.Models.Result

@{
    ViewBag.Title = string.Format("Solution details ID={0}", Model.Id);
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>Result</legend>

    <div class="display-label">DateTime</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Solution.DateTime)
    </div>

    <div class="display-label">Language</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Solution.Language.Name)
    </div>

    <div class="display-label">Answer</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Solution.Answer)
    </div>

    <div class="display-label">Problem</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Solution.Problem.Name)
    </div>

    <div class="display-label">Verdict</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Verdict.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
